<div>
    <div class="module" id="interesting-tags">
        <h3 id="h-interesting-tags">Favorite Tags</h3>
        <div>
            <a id="edit-interesting" href="http://stackoverflow.com/tags?tab=name" title="This is a placeholder">Edit</a>
        </div>
        <div>
            <a id="addInterestingTag" href="http://stackoverflow.com/tags?tab=new" title="This is a placeholder">Add a favorite tag</a>
        </div>

        <h3 id="h-ignored-tags">Ignored Tags</h3>
        <div>
            <a id="edit-ignored" href="http://stackoverflow.com/tags?tab=name" title="This is a placeholder">Edit</a>
        </div>
        <div>
            <a id="addIgnoredTag" href="http://stackoverflow.com/tags?tab=popular" title="This is a placeholder">Add an ignored tag</a>
        </div>
    </div>

    <h3 id="h-related-tags">Related Tags</h3>
    <div>
        <a href="http://stackoverflow.com/questions/tagged/linq?sort=frequent&pageSize=15" title="This is a placeholder">LINQ</a>&nbsp;<span> × 55</span>
    </div>
    <div>
        <a href="http://stackoverflow.com/search?q=Query" title="This is a placeholder">Query</a>&nbsp;<span> × 39</span>
    </div>
    <div>
        <a href="http://stackoverflow.com/questions/tagged/c%23" title="This is a placeholder">C#</a>&nbsp;<span> × 25</span>
    </div>
    <div>
        <a href="http://stackoverflow.com/search?q=Twitter" title="This is a placeholder">Twitter</a>&nbsp;<span> × 23</span>
    </div>
    <div>
        <a href="http://stackoverflow.com/search?q=LINQ+to+Entities" title="This is a placeholder">LINQ to Entities</a>&nbsp;<span> × 19</span>
    </div>
    <div>
        <a href="http://stackoverflow.com/search?q=ASP+.NET+MVc" title="This is a placeholder">ASP .NET MVC</a>&nbsp;<span> × 16</span>
    </div>
    <div>
        <a href="http://stackoverflow.com/search?tab=relevance&q=Streaming%20Tweets" title="This is a placeholder">Streaming Tweets</a>&nbsp;<span> × 15</span>
    </div>
    <div>
        <a href="http://stackoverflow.com/questions/tagged/android" title="This is a placeholder">Android</a>&nbsp;<span> × 9</span>
    </div>
    <div>
        <a href="http://stackoverflow.com/search?q=Xamarin" title="This is a placeholder">Xamarin</a>&nbsp;<span> × 5</span>
    </div>
    <div>
        <a href="http://stackoverflow.com/questions/tagged/ios" title="This is a placeholder">iOS</a>&nbsp;<span> × 3</span>
    </div>
</div>

