
<div>
    <h3>Announcements</h3>
    <div>
        <a href="http://dotnet.meetup.com/" title="Click to find a .NET meetup around you">.NET User Group Meetup</a>
    </div>
    <div>
        <a href="http://msdn.microsoft.com/en-us/data/ee712908.aspx" title="Entity Framework Resources and Community">Entity Framework Training</a>
    </div>
    <div>
        <a href="http://csharp.meetup.com/" title="Click to find a C# meetup around you">C# User Group</a>
    </div>
    <div>
        <a href="http://www.microsoftvirtualacademy.com/colleges/c_cert#?fbid=HLJQoMNVkb_" title="Learn to Build Great C# Apps MCSD Jump Start Training">Free C# Online Training</a>
    </div>
    <div>
        <a href="http://msdn.microsoft.com/en-us/library/67ef8sbd.aspx" title="C# Programming Guide">New C# Tutorials</a>
    </div>
</div>
