<div data-id="Linkout" class="first-line">

    <p>This page contains some sample screenshots of the web applications that I've worked on.
        I wish I had kept a full collection of my work history, since I really created a lot,
        ranging from shopping cart, checkout and payment, slideshow, fly-out and context menu,
        type-ahead, map view with hover-card or popups, thumbnail lists, filmstrips, image carousel,
        interactive charts, to various data grids with various behaviors, ... ...

    </p>
    <ol>
        <li>
            <div>This product was released at the end of 2013.
                The front end is built on AngularJS, d3.js, and other up-to-dated JavaScript technologies.
                It uses LESS CSS and a lighter version of Twitter Bootstrap for styles.
            </div>
            <p>
                <img src="/Images/HintNextGen.png" title="Newly Released" alt="Newly Released" />
            </p>
        </li>
        <li>
            <div>This is a professional activity dashboard.</div>
            <p>
                <img src="/Images/ActivityDashboard.png" title="Dashboard Sample" alt="Dashboard Sample" />
            </p>
        </li>
        <li>
            <div>This is a professional dossier page.</div>
            <p>
                <img src="/Images/PrivateProfileView.png" title="Profile Sample" alt="Profile Sample" />
            </p>
        </li>
        <li>
            <div>Users can not only enter and update activities, but also attach files and link out to other data sources.</div>
            <p>
                <img src="/Images/AddAttachmentToPersonalProfile.png" title="Attachment Sample" alt="Attachment Sample" />
            </p>
        </li>
        <li>
            <div>This is a search result view.</div>
            <p>
                <img src="/Images/PeopleSearch.png" title="Search Result Sample" alt="Search Result Sample" />
            </p>
        </li>
        <li>
            <div>This is a professional public profile view.</div>
            <p>
                <img src="/Images/PublicProfile.png" title="Public Profile Sample" alt="Public Profile Sample" />
            </p>
        </li>
        <li>
            <div>This is an academic activity report of an individual.</div>
            <p>
                <img src="/Images/FacultyReport.png" title="Faculty Report Sample" alt="Faculty Report Sample" />
            </p>
        </li>
        <li>
            <div>I've created many of this kind of thumbnail list views using various technologies.
                I've also created vertical thumbnail lists for data comparison purposes.</div>
            <p>
                <img src="/Images/ThumbnailListView.png" title="Dashboard Sample" alt="Dashboard Sample" />
            </p>
        </li>
        <li>
            <div>I've created a lot of this kind of detail views using various technologies</div>
            <p>
                <img src="/Images/DetailView.png" title="Detail View Sample" alt="Detail View Sample" />
            </p>
        </li>
        <li>
            <div>This picture contains two Silverlight charts I created.
                The one in the back was a prodcution chart. The one on top was a POC application.
                Since the Silverlight production app has retired, I can only use the old screenshots that I found in my archived emails.
            </div>
            <p>
                <img src="/Images/Silverlight.png" title="Silverlight Chart" alt="Silverlight Chart" />
            </p>
        </li>
    </ol>

</div>
